[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-flakes = "*"
pytest-isort = "*"
"pytest-pep8" = "*"
factory-boy = "*"


[packages]

django = "==1.11.9"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
whitenoise = "==3.3.1"
django-cms = ">=3.4.5"
dj-database-url = "*"
raven = "*"
django-markup = "*"
markdown = "*"
django-filer = "*"
django-storages = "*"
