[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[dev-packages]

pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-flakes = "*"
pytest-isort = "*"
"pytest-pep8" = "*"
factory-boy = "*"
pip-check = "*"
ipdb = "*"


[packages]

django = "==1.11.*"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
whitenoise = "==3.3.1"
django-cms = "==3.5.0"
dj-database-url = "*"
raven = "*"
django-markup = "*"
markdown = "*"
django-filer = "*"
django-storages = "*"
"boto3" = "==1.4.4"
