{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block page %}
<div class="content-box page-title">
<div class="container">
<div class="row">
    <div class="col-md-12">
        {% include "includes/title.html" with title=page.title align="center" %}
    </div>
    {% if page.description %}
    <div class="col-md-8 col-md-offset-2">
        <p class="event-date">
            {% if page.recurring %}
            <i class="icon-refresh"></i>
            {% else %}
            {{ page.date|date:"d.m.Y" }}
            {% endif %}
        </p>

        {{ page.description|richtext }}

        {% if page.external_url %}
        <p class="text-center">
            <a class="more" href="{{ page.external_url }}">
                {{ page.title }} Webseite besuchen
            </a>
        </p>
        {% endif %}
    </div>
    {% endif %}
</div>
</div>
</div>

{% if page.images %}
<div class="content-box">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        {% include "includes/title.html" with title="Weitere Bilder" align="center" %}
    </div>
    </div>
    {% for img in page.images %}
    <div class="row c-margin-b-30">
        <div class="col-md-12 text-center">
            {% image img.value max-800x600 %}
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endif %}

{% if page.credit %}
<div class="content-box" id="credit">
<div class="container">
<div class="row">
    <div class="col-md-12">
        {% include "includes/title.html" with title="Bildnachweis" align="center" %}
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{ page.credit|richtext }}
    </div>
</div>
</div>
</div>
{% endif %}
{% endblock page %}
