{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block page %}
<div class="content-box page-title">
<div class="container">
<div class="row">
    <div class="col-md-4">
        {% include "includes/title.html" with title="Termine" align="left" %}
    </div>
    <div class="col-md-8">
        {{ page.description|richtext }}
    </div>
</div>
</div>
</div>

{% if page.recurring %}
<div class="content-box">
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {% include "includes/title.html" with title="Wiederkehrende Termine" %}
        </div>
    </div>
    {% for event in page.recurring %}
        {% include "includes/event-box.html" %}
    {% endfor %}
</div>
</div>
{% endif %}

{% if page.upcoming %}
<div class="content-box secondary">
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {% include "includes/title.html" with title="Anstehend" %}
        </div>
    </div>
    {% for event in page.upcoming %}
        {% include "includes/event-box.html" %}
    {% endfor %}
</div>
</div>
{% endif %}

{% if page.recent %}
<div class="content-box">
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {% include "includes/title.html" with title="Vergangen" %}
        </div>
    </div>
    {% for event in page.recent %}
        {% include "includes/event-box.html" %}
    {% endfor %}
</div>
</div>
{% endif %}
{% endblock page %}
