{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block page %}
{% include "includes/page-title.html" %}

<div class="content-box">
<div class="container">
{% for item in page.items %}
<div class="row{% if not forloop.first %} c-margin-t-50{% endif %}">
    <div class="col-md-4">
        {% include "includes/title.html" with title=item.value.title align="left" %}
    </div>
    <div class="col-md-8">
        {% if item.value %}{{ item.value.description|richtext }}{% endif %}
        {% if item.value.link %}<p><a class="more" href="{{ item.value.link }}">{{ item.value.link }}</a></p>{% endif %}
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock page %}
