{% load markup_tags %}
{% load cms_tags %}
{% load easy_thumbnails_tags %}
{% load sekizai_tags %}

{% addtoblock "js" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
{% endaddtoblock %}

<div class="row justify-content-center event-box">
  <div class="col-md-8">
    <h2>
      <span class="date">
        {% if instance.recurring %}
          <i class="icon-refresh"></i>
        {% else %}
          {{ instance.date|date:"DATE_FORMAT" }}
        {% endif %}
      </span>
      {{ instance.headline }}
    </h2>
    {{ instance.text|apply_markup:"markdown" }}

    {% if instance.link or instance.page %}
    <p><a class="more" href="{% firstof instance.link instance.page.get_absolute_url %}">{% firstof instance.link_text instance.page.get_title instance.link %}</a></p>
    {% endif %}
  </div>
  {% if instance.gallery_images %}
  <div class="col-md-8">
    <div class="event-gallery">
    {% for image in instance.gallery_images %}
      <a data-fancybox="images" href="{% thumbnail image.file "1600x1000" %}" target="_blank">
        <img src="{% thumbnail image.file "160x160" %}"
             srcset="{% thumbnail image.file "320x320" %} 2x"/>
      </a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
