<div class="content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lined center">
          <h2>Wobei unterstützen wir euch?</h2>
          <div></div>
        </div>
      </div>
    </div>
    <div class="row content-box-grid">
      <div class="col-md-3 grid-box box1">
        Wir veranstalten User Groups und Konferenzen
        <p><a class="more" href="termine.html">Mehr dazu</a></p>
      </div>
      <div class="col-md-3 hidden-md-down grid-box box1 arrow-left"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>
      <div class="col-md-3 grid-box box2">
        Wir repräsentieren Django auf Konferenzen, Messen und bei Firmen.
      </div>
      <div class="col-md-3 hidden-md-down grid-box box2 arrow-left"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>
      <div class="col-md-3 hidden-md-down grid-box box3 arrow-right"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>
      <div class="col-md-3 grid-box box3">
        Wir betreuen den #django-de IRC Chat und Djangosnippets.
        <p><a class="more" href="hilfe.html">Mehr dazu</a></p>
      </div>
      <div class="col-md-3 hidden-md-down grid-box box4 arrow-right"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>
      <div class="col-md-3 grid-box box4">
        Wir unterstützen euch bei der Durchführung von User Groups und Events.
        Organisatorisch und finanziell.
      </div>
    </div>
    <div class="row c-margin-t-50">
      <div class="col-md-12 text-center">
        <a href="verein.html" class="more">Mehr über den Verein und die
          Mitgliedschaft</a>
      </div>
    </div>
  </div>
</div>
