{% load cms_tags %}

<div class="content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lined center">
          <h2>{{ instance.headline }}</h2>
          <div></div>
        </div>
      </div>
    </div>
    <div class="row content-box-grid">
      {% for plugin in instance.child_plugin_instances %}
        {% cycle "box1" "box2" "box3" "box4" as box silent %}
        {% render_plugin plugin %}
      {% endfor %}

      {% comment %}
      <div class="col-md-3 grid-box box1">
        Wir veranstalten User Groups und Konferenzen
        <p><a class="more" href="termine.html">Mehr dazu</a></p>
      </div>
      <div class="col-md-3 hidden-md-down grid-box box1 arrow-left"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>

      <div class="col-md-3 grid-box box2">
        Wir repräsentieren Django auf Konferenzen, Messen und bei Firmen.
      </div>
      <div class="col-md-3 hidden-md-down grid-box box2 arrow-left"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>

      <div class="col-md-3 hidden-md-down grid-box box3 arrow-right"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>
      <div class="col-md-3 grid-box box3">
        Wir betreuen den #django-de IRC Chat und Djangosnippets.
        <p><a class="more" href="hilfe.html">Mehr dazu</a></p>
      </div>

      <div class="col-md-3 hidden-md
      -down grid-box box4 arrow-right"
           style="background-image: url(https://django-de-us.s3.amazonaws.com/images/IMG_3545.CR2.2e16d0ba.fill-300x300.jpg);"></div>
      <div class="col-md-3 grid-box box4">
        Wir unterstützen euch bei der Durchführung von User Groups und Events.
        Organisatorisch und finanziell.
      </div>
      {% endcomment %}
    </div>
    {% if instance.link or instance.page %}
    <div class="row c-margin-t-50">
      <div class="col-md-12 text-center">
        <a href="{% firstof instance.link instance.page.get_absolute_url %}" class="more">
          {% firstof instance.link_text instance.page.get_title instance.link %}
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
