{% load i18n %}
{% load cms_tags %}
{% load menu_tags %}
{% load staticfiles %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static "css/base.css" %}"/>
  {% render_block "css" %}
  <title>Deutscher Django-Verein e.V.</title>
</head>
<body>
{% cms_toolbar %}

<header class="header">
  <div class="container">
    <nav>
      <h1 class="logo pull-left">
        <a href="/">Deutscher Django-Verein e.V.</a>
      </h1>
      <ul class="nav navbar-nav pull-right">
        {% show_menu 1 100 1 1 "includes/menu.html"%}
      </ul>
    </nav>
  </div>
</header>

{% block page %}
{% endblock %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">Deutscher Django-Verein e.V.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li><a class="more" href="/">Startseite</a></li>
          {% show_menu 1 100 1 1 "includes/menu_footer.html"%}
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav navbar-nav">
          <li><a class="more" href="https://twitter.com/djangode"><i
            class="icon-social-twitter"></i> Twitter</a></li>
          <li><a class="more" href="https://github.com/orgs/django-de"><i
            class="icon-social-github"></i> Github</a></li>
        </ul>
      </div>
      <div class="col-md-7">
        {% static_placeholder "footer" %}
      </div>
    </div>
  </div>
</footer>

<script src="{% static "js/base.js" %}"></script>
{% render_block "js" %}
</body>
</html>

